*
{
         --primary-color: rgb(115, 49, 4);
         --secondary-color0: #0e1306a7;
         --second-color: rgba(0, 0, 0, 0.225);
         --rgba-color1:  rgba(0, 0, 0, 0.122);
         --rgba-color2: rgba(255, 255, 255, 0.1);
         --rgba-color3: rgba(0, 0, 0, 0.35);
         --secondary-color1: #fff;
         --secondary-color2: rgb(180, 180, 180);
         --secondary-color3: rgb(17, 255, 255);
         --secondary-color4: rgb(0, 0, 0);
         --secondary-color5: #0e1306dc;
         --secondary-color6: #0e1306;
         --secondary-color7: #5e721bfd;
         --welcome-color1: #255784;
         --welcome-color2: #2196f3;


}